<div class="container-card">
  <div class="card">
    <div class="card-header" style="color: #F5F5DC;">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo2.svg" class="img-responsive center-block"
            style="max-height:300px;padding-bottom:50px" />
        </div>

        <div style="color: #adFF2f;" class="text-center">Developed by:</div>
        <div class="text-center">
          <h3 style="color: #FFA500;">Jose Roberto</h3>
        </div>

        <div class="text-center" style="color: #F5F5DC;">@jrobertoamaral</div>
        <div class="text-center">
          <a href="http://github.com/jramaral">www.github.com/jramaral</a>
        </div>
      </div>
    </div>
  </div>
</div>